UPLOADTHING_TOKEN=eyJhcGlLZXkiOiJza19saXZlXzEwMzhiYWM5MmQ0ZmNlMmE4NjE4MmI5OTA3M2I4ZmYwZTdkODkxNmNlOTQ3Y2EzN2I2ZWMzMWMyZGViZDAwYjEiLCJhcHBJZCI6IjUwZWEyejh5dWsiLCJyZWdpb25zIjpbInNlYTEiXX0=
GATEWAY_HMAC_SECRET=a0c8012d48bb3c6144055c2ef80790d8fe4171a08e7cbb96db5e587eec170df4
